# Keycloak Configuration
EXPO_PUBLIC_KEYCLOAK_BASE_URL=http://your-keycloak-server:8080
EXPO_PUBLIC_KEYCLOAK_REALM=your-realm
EXPO_PUBLIC_KEYCLOAK_CLIENT_ID=your-client-id

# App Configuration
EXPO_PUBLIC_APP_SCHEME=your-app-scheme
