# API Configuration
EXPO_PUBLIC_API_BASE_URL=http://localhost:8000

# Keycloak Configuration
EXPO_PUBLIC_KEYCLOAK_BASE_URL=http://localhost:8080
EXPO_PUBLIC_KEYCLOAK_REALM=poupe-ai
EXPO_PUBLIC_KEYCLOAK_CLIENT_ID=account

# App Configuration
EXPO_PUBLIC_APP_SCHEME=ai.poupe
